.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  min-height: 100vh;
}

button {
  background-color: #61dafb;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.data-container {
  background-color: #1a1a1a;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  text-align: left;
}

.info {
  margin-top: 30px;
  padding: 15px;
  background-color: #1a1a1a;
  border-radius: 5px;
}